<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Count Down</title>
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  	
	   	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	   	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js"></script>
		<script src="static/js/configuration.js" type="text/javascript"></script>
		<script>
			
			function sleep(time) {
  				var start = Date.parse(new Date());
  				
  				while(1) {
  					var now =Date.parse(new Date());
  					if (now-start > time){
  						break;
  					}
  				}
			}	
				
			$().ready(function() {
				var h = $(window).height()/2 - 50;
				var top = h + "px";
				$('#count_down_div').css("margin-top",top);
			});
			
			$(function() {
  				var countDownTime=parseInt(10);    
  				function countDown(countDownTime){
    				var timer=setInterval(function(){
     				if(countDownTime>=0){
       					showTime(countDownTime);
       					countDownTime--;
      				} else {
        				clearInterval(timer);
        				var jsonData = $.toJSON({
    						trial_id:trial_id
    					});
    					
    					$.post(server_url+"start_trial", 
    			 			jsonData,
    						function(data, status){
    							if(data == 1){
    								window.location.href = "show_stimul_video.html";
    							}else if(data == 0){
    						
    							}
    						},'json');
        					
      				}
    			},1000);
  				}
  				countDown(countDownTime);
  				function showTime(countDownTime){     
    				var minute=Math.floor(countDownTime/60);
    				var second=countDownTime-minute*60;
    				trial_id = $.cookie("trial_id");
    				var number_table =new Array("first", "second", "third", "forth", "fifth", "sixth", "seventh", "eighth", "ninth", "tenth",
    				"eleventh", "twelfth", "thirteenth", "fourteenth", "fifteenth", "sixteenth", "seventeenth", "eighteenth", "nineteenth", "twentieth",
    				"twenty-first", "twenty-second", "twenty-third", "twenty-fourth", "twenty-fifth", "twenty-sixth", "twenty-seventh", "twenty- eighth", "twenty-ninth", "thirtieth",
    				"Thirty-first", "thirty-second", "thirty -third", "thirty -fourth", "thirty -fifth", "thirty -sixth", "thirty -seventh", "thirty - eighth", "thirty -ninth", "fortieth"
    				)
    				
    				var text1 = "The " + number_table[trial_id-1] + " trial will start in " + second + " second" 
    				$("#count_down_text").text(text1);
  				}
		})
		</script>
	</head>
	<body>
		
		<div id="count_down_div" style="margin:300px auto; width: 80%; height: 80%; text-align: center; ">
	  		
		    	<p style="font-weight: 900; font-size: 65px;" id = 'count_down_text'></p>
			
		</div>

	</body>
</html>
