# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\myworkspace\mypyworkspace\MindLink-HeartCare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
